<%- include('./partials/header') %>

<div id="index-container">
  <div id="info-box">
    Box about how it works
  </div>
  <div id="modules-container">
    <% modules.forEach(function(m){ %>
    <div class="modules">
      <div class="module-info">
        <div class="module-row">
          <h3>Topic:</h3>
          <p><%= m.topic %></p>
        </div>
        <div class="module-row">
          <h3>Category:</h3>
          <p><%= m.category %></p>
        </div>
        <div class="module-row">
          <h3>Material From:</h3>
          <p><%= m.source %></p>
        </div>
        <p id="small-text"><%= m.numFoundUseful %> Found Useful</p>
        <a href="#"> <button>Try Me</button></a>
      </div>
      <div class="user-div">
        <div class="avatar-img">
          <img src="<%= m.creatorAvatar %>" />
        </div>
        <div class="user-info">
          <p><%= m.creator %></p>
          <p><%= m.dateCreated.toDateString()%></p>
        </div>
      </div>
    </div>
    <%})%>
  </div>
</div>

<%- include('./partials/footer') %>
