<%- include('./partials/header') %>
<script src="/javascripts/indexFunctions.js" defer></script>
<div id="index-container">
  <div id="info-box">
    <h2>Welcome to Fill-In The Brain!</h2>
    <p>Improve your learning!</p>
    <div>
      <div>
        <h3>As a visitor:</h3>
        <ul>
          <li>Check out the modules available</li>
          <li>Try out quizzes or guided notes</li>
          <li>Learn!</li>
        </ul>
      </div>
      <div>
        <h3>As a user:</h3>
        <ul>
          <li>Check out the modules available</li>
          <li>Try out quizzes or guided notes</li>
          <li>Make your own modules!</li>
          <li>Save your test results!</li>
          <li>Learn!</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="modules-container">
    <% modules.forEach(function(m){ %>
    <div class="module">
      <div class="module-info">
        <% if(user){if(m.creator._id == user.id) { %>
        <div class="popup-menu">
          <i class="fa fa-gear"></i>
          <ul>
            <li>
              <a href="/modules/edit/<%= m._id%>">Edit</a>
            </li>
            <li>
              <form
                id="<%= m._id%>"
                method="POST"
                action="/modules/delete/<%= m._id%>/?_method=DELETE"
              >
                <a class="deleteBtn">Delete</a>
              </form>
            </li>
          </ul>
        </div>
        <% }} %>
        <div class="module-row">
          <h3>Topic:</h3>
          <p><%= m.topic %></p>
        </div>
        <div class="module-row">
          <h3>Category:</h3>
          <p><%= m.category.name %></p>
        </div>
        <div class="module-row">
          <h3>Material From:</h3>
          <p><%= m.source %></p>
        </div>
        <p id="small-text"><%= m.usersFoundUseful.length %> Found Useful</p>
        <a href="/modules/<%= m._id%>"> <button>Try Me</button></a>
      </div>
      <div class="user-div">
        <div class="avatar-img">
          <img src="<%= m.creator.avatar %>" />
        </div>
        <div class="user-info">
          <p><%= m.creator.name %></p>
          <p><%= m.dateCreated.toDateString()%></p>
        </div>
      </div>
    </div>
    <%})%>
  </div>
  <div id="pop-up-delete">
    <p>Are you sure you want to delete this module?</p>
    <div>
      <button id="del-yes">Yes</button>
      <button id="del-no">No</button>
    </div>
  </div>
  <div id="delete-backdrop"></div>
</div>

<%- include('./partials/footer') %>
