<%- include('./partials/header') %>
<div id="module-container">
  <div id="module-info">
    <div id="module-info-left">
      <h2>Topic: <%= module.topic%></h2>
      <div>
        <p><span>Category:</span> <%= module.category%></p>
        <p><span>Material From:</span> <%= module.source%></p>
      </div>
      <div>
        <button>Quiz</button>
        <button>Guided Notes</button>
      </div>
    </div>
    <div id="module-info-right">
      <p>Created by: <%= module.creator%></p>
      <p><%= module.dateCreated.toDateString()%></p>
    </div>
  </div>
  <div id="fib-container">
    <% if(!feedback){ %>
    <form method="POST" action ="/modules/<%= module._id%>/check">
    <%}else{%>
    <div>
    <%}%>
      <ol>
        <% module.fibStats.forEach(function(sentence, index){ let newSen =
        sentence.replace(/\(-.+-\)/, "___________");%>
        <li>
          <p><%= newSen %></p>
        </li>
        <div>
          <p>Enter your answer here:</p>
          <input name = "<%= index %>" 
          <%if(feedback){%> value="<%= feedback[index+1].answer%>" 
          class = "<%= (feedback[index+1].status) %>" <%}%> type="text" />
        </div>
        <% })%>
      </ol>
      <div>
        <% if(!feedback){ %>
          <input type="submit" />
        <%}else{%>
          <a href="/modules/<%= module._id%>"><button>Try Again</button></a>
        <%}%>
      </div>
    <% if(!feedback){ %>
    </form >
    <%}else{%>
    </div>
    <%}%>
  </div>
</div>
<%- include('./partials/footer') %>
